#database
DB_NAME=forum_db
DB_USER=postgres
DB_PASSWORD=password
DB_PORT=5432
DB_OUTER_PORT=5499

DB_HOST=localhost

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Security & JWT
JWT_SECRET=
OAUTH2_REDIRECT_URI=http://localhost:5173/oauth2/success

# Mail (SMTP)
MAIL_USERNAME=
MAIL_PASSWORD=

# OAuth2 Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=